<style type="text/css">
  
  .icon-pin {
    padding-left: 5px;
  }
  .day {
    text-align : center;
  }

</style>


<div class="pageheader">
  <h1><b>출석부</b></h1>
</div>
<section id="main-content" class="animated fadeInUp">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">클래스 날짜별 체크리스트</h3>
          <div class="actions pull-right">
              <i class="fa fa-chevron-down"></i>
              <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped day">
              <thead>
                <tr>
                  <th class="day">월</th>
                  <th class="day">화</th>
                  <th class="day">수</th>
                  <th class="day">목</th>
                  <th class="day">금</th>
                  <th class="day"><font color="blue">토</th>
                  <th class="day"><font color="red">일</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>[ 2015년 ] <b>10월 10일</b><i class="icon-pin"></i></td>
                  <td>[ 2015년 ] <b>10월 11일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 12일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 13일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 14일</b><i class="icon-pin"></td>
                  <td>/</td>
                  <td>/</td>
                </tr>
                <tr>
                  <td>[ 2015년 ] <b>10월 17일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 18일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 19일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 20일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 21일</b><i class="icon-pin"></td>
                  <td>/</td>
                  <td>/</td>
                </tr>
                <tr>
                  <td>[ 2015년 ] <b>10월 24일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 25일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 26일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 27일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 28일</b><i class="icon-pin"></td>
                  <td>/</td>
                  <td>/</td>
                </tr>
                <tr>
                  <td>[ 2015년 ] <b>10월 10일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 11일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 12일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 13일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 14일</b><i class="icon-pin"></td>
                  <td>/</td>
                  <td>/</td>
                </tr>
                <tr>
                  <td>[ 2015년 ] <b>10월 10일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 11일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 12일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 13일</b><i class="icon-pin"></td>
                  <td>[ 2015년 ] <b>10월 14일</b><i class="icon-pin"></td>
                  <td>/</td>
                  <td>/</td>
                </tr>
              </tbody>
            </table>
          </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chooler Add [ 참여자 등록 ]</h3>
          <div class="actions pull-right">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="panel-body">
          <%=form_tag('/dashboard/add_chooler', method: :post, class: "form-horizontal form-border", id: "add-chooler-form")%>
          <div class="form-group">
            <input type="hidden" name="class_id" value="<%=@class_id%>">
              <div class="col-sm-2">
                <input type="text" class="form-control" name="name" placeholder="이름">
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" name="dept" placeholder="소속">
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" name="code" placeholder="학번">
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" name="email" placeholder="이메일">
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">추가</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chooler List [ 참여자 명 ]</h3>
          <div class="actions pull-right">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="panel-body" style="overflow: auto">
          <table id="list" class="table table-striped table-bordered" cellspacing="0" width="100%" style="overflow: auto">
            <thead>
              <tr>
                <th>#</th>
                <th>이름</th>
                <th>소속</th>
                <th>학번</th>
                <th>이메일</th>
                <% @class.days.each do |k, v| %>
                  <th><%=k.month%>/<%=k.day%>(<%=k.strftime("%a")%>)</th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% @choolers.each_with_index do |c, index|%>
                <tr>
                  <td><%=index+1%></td>
                  <td><%=c.user.name%></td>
                  <td><%=c.user.dept%></td>
                  <td><%=c.user.code%></td>
                  <td><%=c.user.email%></td>
                  <% @class.days.each do |k, v| %>
                    <td>ㅇㅇㅇ</td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<% content_for :javascript do %>
  <!--Load these page level functions-->
<script>
  $(document).ready(function() {
      $('#list').dataTable();
      });
</script>
<% end %>
