<div class="pageheader">
  <h1><b><%=@class.title%></b> 출석 현황 - <%=@date.year%>년 <%=@date.month%>월 <%=@date.day%>일</h1>
</div>

<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">[출석현황]-2015년 02월 05일</h3>
          <div class="actions pull-right">
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="panel-body">
          <table id="classbook" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>순서</th>
                <th>이름</th>
                <th>학번</th>
                <th>출석</th>
                <th>미출석 사유</th>
              </tr>
            </thead>
            <tbody>
              <% @class.users.uniq.each_with_index do |u, index|%>
                <tr>
                <td><%=index+1%></td>
                <td><%=u.name%></td>
                <td><%=u.code%></td>
                <td>
                  <i class="fa fa-check-circle"></i>
                  <i class="fa fa-circle-thin"></i>
                  <i class="fa fa-circle-thin"></i>
                </td>
                <td>
                  <ul>notes
                    <li>1차 : 제 얼굴이 씨가리콩만큼 나와서 체크가 안됩니다.</li>
                    <li>2차 : 제 얼굴이 벼룩의 간만큼 나와서 체크가 안됩니다.</li>
                    <li>3차 : 도망갔습니다.</li>
                  </ul>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<% content_for :javascript do %>
<!--Load these page level functions-->
<script>
  $(document).ready(function() {
      $('#classbook').dataTable();

<% @albums.each_with_index do |a, index| %>
  <% a.pictures.each do |p|%>
      var pinData = {"markers": [
      <% p.checks.each do |c| %>
      {
        "id": <%=c.user.id%>,
        "title": '<%=c.user.name%>',
        "xcoord": <%=c.coordinate.split('#')[0].to_i - 8%>,
        "ycoord": <%=c.coordinate.split('#')[1].to_i - 8%>
      },
      <% end %>
      ]};
    $("#map<%=index%>").dropPin('showPins',{
      fixedWidth:1940,
      //TODO : cal height
      fixedHeight:1000,
      cursor: 'pointer',
      backgroundImage: "<%= image_path(p.picture_url) %>",
      pin: '/defaultpin@2x.png',
      pinclass: 'hascaption',
      pinDataSet: pinData
    });
  <% end %>
<% end %>
  });
</script>
<% end %>

<% @albums.each_with_index do |a, index| %>
  <h1><%=index+1%> / <%=@albums.count%></h1>
  <% a.pictures.each do |p|%>
    <h2><%=p.created_at%></h2>
    <div id="map-container">
      <div id="map<%=index%>" style="position: relative">
      </div>
    </div>
  <% end %>
<% end %>
