<% content_for :banner do %>
  <div id="parallax">
    <img src="<%= image_path('bg.jpg') %>">
    <img src="<%= image_path('main_01.png') %>">
  </div>
<% end %>

<!-- 메인 로그인 -->
<div class="login">
  <div class="col-md-6 col-md-offset-3">
    <div id="login-wrapper">
     <img class="center-block logo-img" src="<%= image_path('logo.png') %>">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            로그인하기
          </h3>
        </div>
        <div class="panel-body text-center" >
          <p>당신의 이메일 주소로 로그인해주세요.</p>
            <%=form_tag('/users/sign_in', method: :post, class: "form-horizontal")%>
            <div class="form-group">
              <div class="col-md-12">
                <input type="email" class="form-control" name="user[email]" id="email" placeholder="Email">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input type="password" class="form-control" name="user[password]" id="password" placeholder="Password">
                <i class="fa fa-lock text-center" ></i>
                <a href="/users/password/new" class="help-block">패스워드를 잊어버렸나요?</a>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">로그인</button>
                <hr />
                <a href="/users/sign_up" class="btn btn-default btn-block">아직 가입하지 않으셨나요? [ 클릭 ]</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <img src="<%= image_path('about.jpg') %>">
</div>


<div class="row">
    <!-- <img class="center-block" src="<%= image_path('apple.png') %>"> -->
    <a href="https://play.google.com/store" target="_blank"><img class="center-block" src="<%= image_path('play.png') %>"></a>
  </div>
<div>

<div id="footer">
    <div class="container">
        <p class="text-center font"><b><font color="#29abe2">Charles</font></b>&<b><font color="#ff1f55">Khris</font></b>@copyright all rights reserved.</p>
    </div>
</div>

<style type="text/css">

body {
  background-color: #fff;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px; 
 }

.logo-img {
  margin: 20px auto;
}

#login-wrapper {
  margin: 40px auto;
}

.text-center {
  text-align: center;
}

#parallax {
  width: 1940px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

#parallax img {
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.about {
  margin-top: 2em;
}

</style>

<% content_for :javascript do %>
<script type="text/javascript">
jQuery(document).ready(function($){
  $('#parallax').mousemove(
    function(e){
      /* Work out mouse position */
      var offset = $(this).offset();
      var xPos = e.pageX - offset.left;
      var yPos = e.pageY - offset.top;

      /* Get percentage positions */
      var mouseXPercent = Math.round(xPos / $(this).width() * 100);
      var mouseYPercent = Math.round(yPos / $(this).height() * 100);

      /* Position Each Layer */
      $(this).children('img').each(
        function(){
          var diffX = $('#parallax').width() - $(this).width();
          var diffY = $('#parallax').height() - $(this).height();

          var myX = diffX * (mouseXPercent / 100); //) / 100) / 2;


          var myY = diffY * (mouseYPercent / 100);


          var cssObj = {
            'left': myX + 'px',
            'top': myY + 'px'
          }
          //$(this).css(cssObj);
          $(this).animate({left: myX, top: myY},{duration: 50, queue: false, easing: 'linear'});

        }
      );

    }
  );
});
</script>
<% end %>
