<div class="sidebar-profile">
  <div class="avatar">
    <img class="img-circle profile-image" src="<%= image_path('profile.jpg') %>" alt="profile">
    <i class="on border-dark animated bounceIn"></i>
  </div>
  <div class="profile-body dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4><b>홍길동</b> 교수 <span class="caret"></span></h4></a>
    <small class="title">Checker</small>
    <ul class="dropdown-menu animated fadeInRight" role="menu">
      <li class="profile-progress">
        <h5>
          <span>80%</span>
          <small>Profile complete</small>
        </h5>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-primary" style="width: 80%">
          </div>
        </div>
      </li>
      <li class="divider"></li>
      <li>
        <a href="javascript:void(0);">
          <span class="icon"><i class="fa fa-user"></i>
        </span>My Account</a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <span class="icon"><i class="fa fa-envelope"></i>
        </span>Messages</a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <span class="icon"><i class="fa fa-cog"></i>
        </span>Settings</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="javascript:void(0);">
          <span class="icon"><i class="fa fa-sign-out"></i>
        </span>Logout</a>
      </li>
    </ul>
  </div>
</div>



<!-- Checker : notice 공통 메뉴 -->

<nav>
  <h5 class="sidebar-header">Navigation</h5>
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-dropdown <%= 'active open' if action?('notice') or action?('daily')%>">
      <a href="#">
        <i class="fa fa fa-graduation-cap"></i> [ Chooler ] Class
      </a>
      <% if @classes %>
        <ul class="nav-sub">
        <% @classes.each do |c| %>
          <li class="<%= 'active' if controller?('class') && action?('buttons') %>">
          <a href="/pin/<%=c.id%>"><i class="icon-calendar"></i>
            <%=c.title%>
          </a>
        </li>
      <% end %>
      </ul>
      <ul class="nav nav-pills nav-stacked">
      </ul>
    <% end %>
  </li>

    <li class="nav-dropdown <%= 'active open' if controller?('class')%>">
      <a href="#">
        <i class="fa fa fa-graduation-cap"></i> [ Checker ] Class
      </a>
      <ul class="nav-sub">
        <li>
          <a href="/create"><i class="icon-calendar"></i>
            새 클래스 만들기
          </a>
        </li>
      <% if @classes %>
        <% @classes.each do |c| %>
        <li class="nav-dropdown">
          <a href="#" title="Level 2.3">
            <i class="fa fa-fw fa-folder-open"></i> <%=c.title%>
          </a>
          <ul class="nav-sub">
            <li>
              <a href="/classbook/<%=c.id%>"><i class="icon-calendar"></i>
                학생리스트
              </a>
            </li>
            <% c.days.each do |k, v|%>
            <li>
              <a href="/classbook/<%=c.id%>/<%=k.strftime("%Y%m%d")%>"><i class="icon-calendar"></i>
                <%=k.month%>월 <%=k.day%>일 : 72%
              </a>
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
      <% end %>
    </li>
  </ul>
</nav>

<!-- 임시 네이비게이션 --> 
<nav>
  <h5 class="sidebar-header">임시로 사진올리기</h5>
  <ul class="nav nav-pills nav-stacked">
    <% unless @classes.nil? %>
      <% @classes.each do |c| %>
        <li><a href="/picture/new?klass_id=<%=c.id%>"><%=c.title%>에 업로드</a></li>
      <% end %>
    <% end %>
  </ul>
</nav>
